services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: notify
      POSTGRES_PASSWORD: notify
      POSTGRES_DB: notify
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  postgres-test:
    image: postgres:16
    environment:
      POSTGRES_USER: notify
      POSTGRES_PASSWORD: notify
      POSTGRES_DB: notify_test
    ports:
      - "5433:5432"

volumes:
  postgres_data: